@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fs-xl: 3rem;
  --fs-800: 2rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
}

@media (width <= 1400px) {
  :root {
    --fs-xl: 3rem;
    --fs-800: 1.25rem;
    --fs-600: 1rem;
    --fs-500: 0.85rem;
    --fs-400: 0.65rem;
  }
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: var(--fs-600);
  background-color: #f5f5f5;
}

#header {
  display: grid;
  place-items: center;
  height: 17rem;
}

.header_logo {
  height: 17rem;
  width: 80rem;
  padding-top: 1px;
  display: grid;
  place-items: center;
}

#img-logo {
  max-width: 100%;
  height: auto;
}

.actions {
  height: 38rem;
  width: 100%;
  display: grid;
  place-items: center;
}

#ActionCarouselContainer {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem;
}

.AboutContainer {
  width: 100%;
  background: #ab1cdd;
}

.BusinessContainer {
  height: 90vh;
  width: 100%;
  background: #7ed956;
  display: grid;
  place-items: center;
  grid-template-rows: 25% 75%;
  grid-template-columns: 25% 25% 25% 25%;
}

.ODSContainer {
  height: 80vh;
  width: 100%;
  display: grid;
  align-items: center;
}

.card {
  width: 20rem;
  height: 20rem;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IndexForm {
  display: grid;
  grid-template-columns: 68% 32%;
  height: 32rem;
}

#indexgrid {
  background: rgb(239, 186, 48);
  background: linear-gradient(
    90deg,
    rgba(239, 186, 48, 1) 0%,
    rgba(239, 211, 23, 0.48503151260504207) 100%
  );
  display: grid;
  place-items: center;
}
#formgrid {
  background-color: #ffefd7;
}

.AboutContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}
#candida {
  background-color: #dfdfdf;
  display: grid;
  place-items: center;
  height: 30rem;
}
#cris {
  background-color: #dfdfdf;
  display: grid;
  place-items: center;
  height: 30rem;
}

button.rec-dot {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.container {
  border-radius: 5px;
  background-color: #f0e8e2;
  height: 80%;
  width: 95%;
  padding: 20px 40px 40px;
  box-shadow: 12px 11px 11px 0px rgb(0 0 0 / 75%);
}
.container__image {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  margin: 30px 30px 30px 0;
  float: left;
}

.container__text {
  display: inline;
}

.container__image2 {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  margin: 30px 30px 30px 0;
  float: right;
}

#eco {
  font-size: var(--fs-xl);
  justify-items: center;
}
#com {
  font-size: var(--fs-xl);
}

#receba {
  position: relative;
  top: -5%;
  left: 3%;
  justify-self: center;
  font-weight: bold;
  font-size: var(--fs-800);
}
