@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans";
}

#header {
  padding: 1% 5%;
  display: grid;
  place-items: center;
  height: 10vh;
}

.actions {
  height: 103vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.AboutContainer {
  height: 80vh;
  width: 100%;
  background: #ab1cdd;
}

.BusinessContainer {
  height: 90vh;
  width: 100%;
  background: #7ed956;
  display: grid;
  place-items: center;
  grid-template-rows: 25% 75%;
  grid-template-columns: 25% 25% 25% 25%;
}

.ODSContainer {
  height: 80vh;
  width: 100%;
  display: grid;
  align-items: center;
}

.card {
  width: 100%;
  height: 51vh;
  background: #333;
  color: #fff;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (max-height: 768px) {
  .actions {
    height: 200px;
    background-color: #333;
  }
} */

.IndexForm {
  display: grid;
  grid-template-columns: 68% 32%;
}

#indexgrid {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 1, 1) 0%,
    rgba(129, 223, 122, 1) 85%
  );
  display: grid;
  place-items: center;
}
#formgrid {
  background-color: #ffefd7;
}

.AboutContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}
#candida {
  background-color: #f0a213;
  display: grid;
  place-items: center;
}
#cris {
  background-color: #6cac34;
  display: grid;
  place-items: center;
}

button.rec-dot {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0);
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5);
}

img,
video {
  max-width: 100%;
  height: 420px;
}

.container {
  border-radius: 5px;
  background-color: #f0e8e2;
  padding: 20px 40px 40px;
  box-shadow: 12px 11px 11px 0px rgb(0 0 0 / 75%);
  max-width: 800px;
}
.container__image {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin: 30px 30px 30px 0;
  float: left;
}

.container__text {
  display: inline;
}
.container2 {
  border-radius: 5px;
  background-color: #f0e8e2;
  padding: 20px 40px 40px;
  max-width: 800px;
  box-shadow: 12px 11px 11px 0px rgb(0 0 0 / 75%);
}
.container__image2 {
  height: 300px;
  width: 300px;
  border-radius: 150px;

  margin: 30px 30px 30px 0;
  float: right;
}

.container__text2 {
  display: inline;
}
